<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/org">组织</a></li>
        <li><a v-bind:href="appPath">App</a></li>
        <li><a v-bind:href="appOnePath">{{app.name}}</a></li>
        <li class="active">修改</li>
    </ol>

    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="app.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">AppId</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="app.appId" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">基地址</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="app.baseUrl">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">功能</label>
                <div class="col-sm-4">
                    <ul class="list-group">
                        <li class="list-group-item">HelloWorld<span class="badge badge-info" style="background-color:lightblue">SLIM</span></li>
                        <li class="list-group-item">即时位置<span class="badge badge-primary">STD</span></li>
                        <li class="list-group-item">历史轨迹<span class="badge badge-success">EXT</span></li>
                    </ul>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8 text-center">
                <button type="button" class="btn btn-primary btn-sm" @click="save">确定</button>
                <a class="btn btn-default btn-sm" :href="appOnePath">取消</a>
            </div>
        </div>
    </form>
</div>