<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/org">组织</a></li>
        <li><a v-bind:href="appPath">App</a></li>
        <li><a v-bind:href="appOnePath">{{app.name}}</a></li>
        <li class="active">修改</li>
    </ol>

    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="app.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">AppId</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="app.appId" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">基地址</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="app.baseUrl">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">功能</label>
                <div class="col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-heading text-right" style="padding:4px">
                                <button class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-target="#dialog-add-feature">
                                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;增加
                                </button>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <template v-for="(v, target) in app.abi">
                                    <template v-for="(rlm, realm) in v">
                                        <li class="list-group-item">
                                            {{target}} - {{realm}}-{{rlm.level | lvl}}({{rlm.ver.major}}.{{rlm.ver.minor}}.{{rlm.ver.fix}})
                                            <a href="javascript:void(0)" class="btn btn-sm btn-danger" style="position:absolute;right:4px;top:5px" disabled>移除</a>
                                        </li>
                                    </template>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8 text-center">
                <button type="button" class="btn btn-primary btn-sm" @click="save">确定</button>
                <a class="btn btn-default btn-sm" :href="appOnePath">取消</a>
            </div>
        </div>
    </form>

    <div class="modal fade" id="dialog-add-feature" tabindex="-1" role="alertdialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">新增功能</h4>
                </div>
                <div class="modal-body">
                    <ol class="breadcrumb" style="margin:2px">
                        <template v-for="(cls, i) in listTarget">
                            <li v-if="i < listTarget.length-1"><a href="javascript:void(0)" @click="chooseParent(i)">{{cls.name}}</a></li>
                            <li class="active" v-else><span class="label label-success">{{cls.name}}</span></li>
                        </template>
                    </ol>
                    <div class="row">
                        <div class="col-sm-12" style="padding:0 20px">
                            <div class="well" style="padding:8px;min-height:44px">
                                可选子类型:
                                <template v-if="curT">
                                    <button type="button" v-for="cls in curT.children" style="margin-right:8px;" @click="chooseChild(cls)">{{cls.name}}</button>
                                </template>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin:0">
                        <div class="col-sm-12" style="border">
                            <div class="panel panel-default" style="margin:0" v-if="curT">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="label label-success">{{curT.name}}</span></h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table" style="margin:0">
                                        <tr class="text-center" style="vertical-align:top">
                                            <td>
                                                <ul class="list-group text-left" style="overflow-y:auto;max-height:300px;">
                                                    <template v-for="dm in curT.dm">
                                                        <li class="list-group-item" @click="chooseDM(dm)" v-bind:class="{active: curD.dm == dm}" style="cursor:pointer">{{dm}}</li>
                                                    </template>
                                                    <template v-if="curT.dm.length == 0">
                                                        <!--没有可以显示的DM,展示一些示例好了-->
                                                        <li class="list-group-item">即时位置</li>
                                                        <li class="list-group-item">历史轨迹</li>
                                                        <li class="list-group-item">电池组充放电</li>
                                                        <li class="list-group-item">远程控制</li>
                                                    </template>
                                                </ul>
                                            </td>
                                            <td class="play-mark">
                                                <span class="glyphicon glyphicon-play"></span>
                                            </td>
                                            <td class="text-center">
                                                <ul class="list-group" v-if="curD.dm">
                                                    <template v-for="(v, level) in dm[curD.dm]">
                                                        <li class="list-group-item" @click="chooseLvl(level)" v-bind:class="{active: curD.level == level}" style="cursor:pointer">{{ level | lvl }}</li>
                                                    </template>
                                                </ul>
                                                <ul class="list-group" v-if="!curD.dm">
                                                    <!--展示一些示例好了-->
                                                    <li class="list-group-item">{{ 1 | lvl }}</li>
                                                    <li class="list-group-item">{{ 2 | lvl }}</li>
                                                    <li class="list-group-item">{{ 3 | lvl }}</li>
                                                </ul>
                                            </td>
                                            <td class="play-mark">
                                                <span class="glyphicon glyphicon-play"></span>
                                            </td>
                                            <td>
                                                <ul class="list-group" style="overflow-y:auto;max-height:300px;" v-if="curD.level > 0">
                                                    <template v-for="(v, k) in dm[curD.dm][curD.level]">
                                                        <li class="list-group-item" style="cursor:pointer" @click="chooseV(k)" v-bind:class="{active: curD.v == k}">{{ k }}</li>
                                                    </template>
                                                </ul>
                                                <ul class="list-group" v-if="curD.level == 0">
                                                    <!--展示一些示例好了-->
                                                    <li class="list-group-item">2.1.0</li>
                                                    <li class="list-group-item">1.1.0</li>
                                                    <li class="list-group-item">1.0.0</li>
                                                </ul>
                                        </tr>
                                        
                                        <tr>
                                            <td colspan="5" style="border-top:1px solid lightgray;padding:8px">
                                                功能:{{ dmNow.id }}<br />
                                                说明:{{dmNow.chs}}<br />
                                                <hr />
                                                <template v-for="func in dmNow.funcs">
                                                    {{func.url}}: {{func.chs}}
                                                </template>
                                            </td>
                                        </tr>
                                    </table>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" @click="addAbility('dialog-add-feature', curT, dmNow)" v-bind:disabled="!curD.v">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>