<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/org">组织</a></li>
        <li><a v-bind:href="appPath">App</a></li>
        <li><a v-bind:href="appOnePath">{{app.name}}</a></li>
        <li class="active">修改</li>
    </ol>

    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="app.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">AppId</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="app.appId" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">基地址</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="app.baseUrl">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">功能</label>
                <div class="col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-heading text-right" style="padding:4px">
                                <button class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-target="#dialog-add-feature">
                                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;增加
                                </button>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <template v-for="v in feature.change">
                                    <template v-for="(r, k) in v.realm">
                                        <li class="list-group-item">
                                            {{v.target.name}} - {{k}}-{{stdName2(r.level)}}({{r.ver.major}}.{{r.ver.minor}}.{{r.ver.fix}})
                                            <a href="javascript:void(0)" class="btn btn-sm btn-danger" style="position:absolute;right:4px;top:5px" disabled>移除</a>
                                        </li>
                                    </template>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8 text-center">
                <button type="button" class="btn btn-primary btn-sm" @click="save">确定</button>
                <a class="btn btn-default btn-sm" :href="appOnePath">取消</a>
            </div>
        </div>
    </form>

    <div class="modal fade" id="dialog-add-feature" tabindex="-1" role="alertdialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">新增功能</h4>
                </div>
                <div class="modal-body">
                    <ol class="breadcrumb" style="margin:2px">
                        <template v-for="(cls, i) in feature.add.target">
                            <li v-if="i < feature.add.target.length-1"><a href="javascript:void(0)" @click="onClickTargetParent(i)">{{cls.name}}</a></li>
                            <li class="active" v-else><span class="label label-success">{{cls.name}}</span></li>
                        </template>
                    </ol>
                    <div class="row">
                        <div class="col-sm-12" style="padding:0 20px">
                            <div class="well" style="padding:8px;min-height:44px">
                                更多子类型:
                                <template v-if="subCls.length > 0">
                                    <button type="button" v-for="cls in subCls" style="margin-right:8px;" @click="onClickTarget(cls)">{{cls.name}}</button>
                                </template>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin:0">
                        <div class="col-sm-12" style="border">
                            <div class="panel panel-default" style="margin:0">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="label label-success">{{curCls.name}}</span></h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table" style="margin:0">
                                        <tr class="text-center" style="vertical-align:top">
                                            <td>
                                                <ul class="list-group text-left" style="overflow-y:auto;max-height:300px;">
                                                    <template v-for="dm in realms">
                                                        <li class="list-group-item" @click="chooseDM(dm)" v-bind:class="{active: feature.add.curDM == dm}" style="cursor:pointer">{{dm}}</li>
                                                    </template>
                                                    <template v-if="realms && realms.length == 0">
                                                        <li class="list-group-item">即时位置</li>
                                                        <li class="list-group-item">历史轨迹</li>
                                                        <li class="list-group-item">电池组充放电</li>
                                                        <li class="list-group-item">远程控制</li>
                                                    </template>
                                                </ul>
                                            </td>
                                            <td class="play-mark">
                                                <span class="glyphicon glyphicon-play"></span>
                                            </td>
                                            <td class="text-center">
                                                <ul class="list-group" v-if="feature.add.curDM">
                                                    <template v-for="k in Object.keys(feature.add.mapDM)">
                                                        <li class="list-group-item" @click="chooseSTD(k)" v-bind:class="{active: feature.add.curSTD == k}" style="cursor:pointer">{{stdName(k)}}</li>
                                                    </template>
                                                </ul>
                                                <ul class="list-group" v-if="!feature.add.curDM">
                                                    <li class="list-group-item">精简</li>
                                                    <li class="list-group-item">标准</li>
                                                    <li class="list-group-item">扩展</li>
                                                </ul>
                                            </td>
                                            <td class="play-mark">
                                                <span class="glyphicon glyphicon-play"></span>
                                            </td>
                                            <td>
                                                <ul class="list-group" style="overflow-y:auto;max-height:300px;" v-if="feature.add.curSTD">
                                                    <template v-for="v in Object.keys(feature.add.mapDM[feature.add.curSTD])">
                                                        <li class="list-group-item" style="cursor:pointer" @click="chooseV(v)" v-bind:class="{active: feature.add.curV == v}">{{v}}</li>
                                                    </template>
                                                </ul>
                                                <ul class="list-group" v-if="!feature.add.curSTD">
                                                    <li class="list-group-item">2.1.0</li>
                                                    <li class="list-group-item">1.1.0</li>
                                                    <li class="list-group-item">1.0.0</li>
                                                </ul>
                                        </tr>
                                        
                                        <tr>
                                            <td colspan="5" style="border-top:1px solid lightgray;padding:8px">
                                                功能:{{ feature.add.curDM }}<br />
                                                <span v-if="feature.add.curSTD && feature.add.curV">
                                                    {{feature.add.mapDM[feature.add.curSTD][feature.add.curV].chs}}
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" @click="addFeature(curCls, feature.add.curSTD, feature.add.curV)" v-bind:disabled="!feature.add.curV">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>