<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.ico">
    <title>英卡车云</title>
    
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <div id="rootLayout">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" v-text="title">英卡车云</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span> <span v-text="home">首页</span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-link"></span> <span v-text="links">链接</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/org">组织</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header" v-text="offical">官方网站</li>
                                <li><a href="http://www.incarcloud.com" target="_blank" data-toggle="tooltip" v-bind:title="offical" v-text="incar">英卡科技</a></li>
                                <li><a href="http://www.szsoling.com" target="_blank" data-toggle="tooltip" v-bind:title="offical" v-text="soling">索菱股份</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/demo" v-text="demo">示例</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li v-if="isLogin"><img v-bind:src="user.headUrl" style="padding:5px 0" v-bind:title="user.Nick"/></li>
                        <li v-if="!isLogin"><a v-bind:href="qq"><img src="//qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/Connect_logo_7.png" /></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe"></span> <span v-text="lang">中文</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li v-for="(value, key) in languages">
                                    <a href="javascript:void(0)" @click="setLang(key)">{{value}}</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/about"><span class="glyphicon glyphicon-info-sign"></span> <span v-text="about">关于</span></a></li>
                        <li v-if="isLogin"><a href="javascript:void(0)" @click="logout()"><span class="glyphicon glyphicon-log-out"></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div v-bind:is="mount" v-bind:stack="stack" v-on:login="onLogin"></div>

        <div style="padding:4px">
            front: <span v-text="version.front.branch"></span>.<span v-text="version.front.rev"></span>
            <a v-bind:href="'https://github.com/InCar/rooster-static/tree/'+version.front.hash160" target="_blank">
                <svg aria-hidden="true" height="12" width="12" role="img" version="1.1" viewBox="0 0 16 16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59 0.4 0.07 0.55-0.17 0.55-0.38 0-0.19-0.01-0.82-0.01-1.49-2.01 0.37-2.53-0.49-2.69-0.94-0.09-0.23-0.48-0.94-0.82-1.13-0.28-0.15-0.68-0.52-0.01-0.53 0.63-0.01 1.08 0.58 1.23 0.82 0.72 1.21 1.87 0.87 2.33 0.66 0.07-0.52 0.28-0.87 0.51-1.07-1.78-0.2-3.64-0.89-3.64-3.95 0-0.87 0.31-1.59 0.82-2.15-0.08-0.2-0.36-1.02 0.08-2.12 0 0 0.67-0.21 2.2 0.82 0.64-0.18 1.32-0.27 2-0.27 0.68 0 1.36 0.09 2 0.27 1.53-1.04 2.2-0.82 2.2-0.82 0.44 1.1 0.16 1.92 0.08 2.12 0.51 0.56 0.82 1.27 0.82 2.15 0 3.07-1.87 3.75-3.65 3.95 0.29 0.25 0.54 0.73 0.54 1.48 0 1.07-0.01 1.93-0.01 2.2 0 0.21 0.15 0.46 0.55 0.38C13.71 14.53 16 11.53 16 8 16 3.58 12.42 0 8 0z"></path></svg>
            </a>
            <span v-text="version.front.hash"></span><br>
            <span v-if="version.back.branch">
                back: <span v-text="version.back.branch"></span>.<span v-text="version.back.rev"></span>
                <a v-bind:href="'https://github.com/HTTPS-HUB/GateWay/tree/'+version.back.hash160" target="_blank">
                    <svg aria-hidden="true" height="12" width="12" role="img" version="1.1" viewBox="0 0 16 16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59 0.4 0.07 0.55-0.17 0.55-0.38 0-0.19-0.01-0.82-0.01-1.49-2.01 0.37-2.53-0.49-2.69-0.94-0.09-0.23-0.48-0.94-0.82-1.13-0.28-0.15-0.68-0.52-0.01-0.53 0.63-0.01 1.08 0.58 1.23 0.82 0.72 1.21 1.87 0.87 2.33 0.66 0.07-0.52 0.28-0.87 0.51-1.07-1.78-0.2-3.64-0.89-3.64-3.95 0-0.87 0.31-1.59 0.82-2.15-0.08-0.2-0.36-1.02 0.08-2.12 0 0 0.67-0.21 2.2 0.82 0.64-0.18 1.32-0.27 2-0.27 0.68 0 1.36 0.09 2 0.27 1.53-1.04 2.2-0.82 2.2-0.82 0.44 1.1 0.16 1.92 0.08 2.12 0.51 0.56 0.82 1.27 0.82 2.15 0 3.07-1.87 3.75-3.65 3.95 0.29 0.25 0.54 0.73 0.54 1.48 0 1.07-0.01 1.93-0.01 2.2 0 0.21 0.15 0.46 0.55 0.38C13.71 14.53 16 11.53 16 8 16 3.58 12.42 0 8 0z"></path></svg>
                </a>
                <span v-text="version.back.hash"></span>
            </span>
        </div>
    </div>
    <script src="/js/settings.js"></script>
    <script data-main="/js/config.js" src="//cdn.incarcloud.com/lib/requirejs/2.3.4/require.min.js"></script>
</body>
</html>